


<MudContainer class="footer-container "  style="background-color: darkblue; color: white;">
    <MudGrid Spacing="4">
        <MudItem xs="12" sm="6" md="3">
            <h4 class="mb-4" style="font-size: 1.5rem;">ENG RUH</h4>
            <p class="mb-4" style="font-size: 1rem;">The Faculty of Engineering of University of Ruhuna was established on 1st July 1999 at Hapugala, Galle. Admission to the Faculty of Engineering, University of Ruhuna, is subject to the University Grants Commission policy on university admissions.</p>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <h4 class="mb-4" style="font-size: 1.5rem;">INFO</h4>
            <ul class="mb-4" style="font-size: 1rem;">
                <li><a href="#" style="color: white;">University of Ruhuna</a></li>
                <li><a href="#" style="color: white;">Faculty of Engineering</a></li>
                <li><a href="#" style="color: white;">ENG-MIS</a></li>
                <li><a href="#" style="color: white;">Library</a></li>
                <li><a href="#" style="color: white;">IESL</a></li>
            </ul>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <h4 class="mb-4" style="font-size: 1.5rem;">CONTACT US</h4>
            <p class="mb-4" style="font-size: 1rem;">Faculty of Engineering,Hapugala,Galle,Sri Lanka.</p>
            <p class="mb-4" style="font-size: 1rem;">Email:  webmaster@eng.ruh.ac.lk</p>
            <p style="font-size: 1rem;">Phone: +(94)0 91 2245765/6</p>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <h4 class="mb-4" style="font-size: 1.5rem;">SOCIAL MEDIA</h4>
            <ul class="mb-4" style="font-size: 1rem;">
                <li><a href="#" style="color: white;">Facebook</a></li>
                <li><a href="#" style="color: white;">Google</a></li>
                <li><a href="#" style="color: white;">Twitter</a></li>
                <li><a href="#" style="color: white;">Location</a></li>
            </ul>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
