<div style="background-color: #1679AB; width: 100%; padding: 20px 0;">
    <MudContainer class="footer-container" Dense="true" Style="color: white;">
        <MudGrid Spacing="4">
            <!-- ENG RUH Section -->
            <MudItem xs="12" sm="6" md="3">
                <h4 class="mb-4" style="font-size: 1.5rem;">ENG RUH</h4>
                <p class="mb-4" style="font-size: 1rem;">The Faculty of Engineering of University of Ruhuna was established on 1st July 1999 at Hapugala, Galle. Admission to the Faculty of Engineering, University of Ruhuna, is subject to the University Grants Commission policy on university admissions.</p>
            </MudItem>
            <!-- INFO Section -->
            <MudItem xs="12" sm="6" md="3">
                <h4 class="mb-4" style="font-size: 1.5rem;">INFO</h4>
                <ul class="mb-4" style="font-size: 1rem;">
                    <li><a href="#" style="color: white;">University of Ruhuna</a></li>
                    <li><a href="#" style="color: white;">Faculty of Engineering</a></li>
                    <li><a href="#" style="color: white;">ENG-MIS</a></li>
                    <li><a href="#" style="color: white;">Library</a></li>
                    <li><a href="#" style="color: white;">IESL</a></li>
                </ul>
            </MudItem>
            <!-- CONTACT US Section -->
            <MudItem xs="12" sm="6" md="3">
                <h4 class="mb-4" style="font-size: 1.5rem;">CONTACT US</h4>
                <p class="mb-4" style="font-size: 1rem;">Faculty of Engineering,Hapugala,Galle,Sri Lanka.</p>
                <p class="mb-4" style="font-size: 1rem;">Email:  webmaster@eng.ruh.ac.lk</p>
                <p style="font-size: 1rem;">Phone: +(94)0 91 2245765/6</p>
            </MudItem>
            <!-- SOCIAL MEDIA Section -->
            <MudItem xs="12" sm="6" md="3">
                <h4 class="mb-4" style="font-size: 1.5rem;">SOCIAL MEDIA</h4>
                <ul class="mb-4 d-flex justify-content-start align-items-center" style="font-size: 1rem; list-style-type: none; padding: 0;">
                    <li style="margin-right: 10px;"><a href="#" style="color: white;"><MudIcon Icon="@Icons.Custom.Brands.Facebook" Title="Facebook" /></a></li>
                    <li style="margin-right: 10px;"><a href="#" style="color: white;"><MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" /></a></li>
                    <li style="margin-right: 10px;"><a href="#" style="color: white;"><MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" /></a></li>
                    <li style="margin-right: 10px;"><a href="#" style="color: white;"><MudIcon Icon="@Icons.Material.Filled.LocationOn" Title="LocationOn" /></a></li>
                </ul>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>

@code {

}
