@page "/admin"
@layout NoNavLayout

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">Application</MudText>
        </MudDrawerHeader>

        <div class="nav-links">
            <MudLink Href="/usermanagement">User Management</MudLink>
            <MudLink Href="/calendar">Calendar</MudLink>
            <MudLink Href="/logout">Logout</MudLink>
            <MudLink Href="/settings">Settings</MudLink>
            <MudLink Href="/profile">Profile</MudLink>
            <MudLink Href="/overview">Overview</MudLink>
        </div>

        <style>
            .nav-links {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        </style>





        @*NavMenu*@
    </MudDrawer>
    <MudMainContent>
        @*Body*@
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}


